.App {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  color: black;

}

.header {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  margin-bottom: 2%;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-right: 10px;
}

.container {
  max-width: fit-content;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

input {
  background-color: black;
  color: white;
  border: none;
  padding: 20px;
  margin: 15px 0;
}

button {
  background-color: black;
  color: white;
  border: none;
  width: 100%;
  padding: 20px;
  margin: auto;
}